<h1>Welcome!</h1>
<div>
  <div>
    <h3> Hand Curated Chuck Norris Jokes </h3>
  </div>
  <%= turbo_frame_tag "joke_frame_turbo" do %>
    <%= link_to 'Get Jokes', get_joke_path, class: "nav-link active" %>
    <%= form_with model: @favourite_joke, url: save_joke_path, method: :post do |f| %>
      <%= f.text_field :text, value: @joke.value, readonly: true, class: "joke-text-form"%>
      <%= f.submit "Save as Favourite", class: "btn btn-outline-success" %>
    <% end %>
  <% end %>
</div>
